:root{
	--cl-neutral-100: hsl(0 0% 100%);
	--cl-neutral-200: hsl(198 28% 93%);
	--cl-neutral-400: hsl(221 25% 58%);
	--cl-neutral-800: hsl(220 50% 17%);

	--cl-accent-300: hsl(22 100% 69%);
	--cl-accent-500: hsl(22 89% 52%);
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  font-style: italic;
}