html {
	/* TYPOGRAPHY */
	/* Family */
	--ff-main: "Barlow", sans-serif;

	/* Wieght */
	--fw-medium: 500;
	--fw-bold: 700;
	--fw-black: 900;

	/* Size */
	--fs-300: 1rem;			/*	16px */
	--fs-400: 1.5rem;		/*	24px */
	--fs-600: 2rem;			/*	32px */
	--fs-800: 3rem;			/*	48px */
	--fs-900: 3.5rem;		/*	56px */

	/* Line height */
	--lh-100: 1;
	--lh-200: 1.125;
	--lh-300: 1.167;
	--lh-800: 1.625;

	/* Typographic elements */
	--ty-heading-primary: var(--fw-black) var(--fs-800)/var(--lh-100) var(--ff-main);
	--ty-heading-secondary: var(--fw-black) var(--fs-600)/var(--lh-200) var(--ff-main);
	--ty-heading-tertiary: var(--fw-black) var(--fs-400)/var(--lh-300) var(--ff-main);
	--ty-copy: var(--fw-medium) var(--fs-300)/var(--lh-800) var(--ff-main);
	--ty-label: var(--fw-bold) var(--fs-300) var(--ff-main);
	--ty-footer-highlight: var(--fw-bold) var(--fs-300) var(--ff-main);

	/* COLOURS */
	/* Neutral */
	--cl-neutral-100: hsl(0 0% 100%);
	--cl-neutral-200: hsl(198 28% 93%);
	--cl-neutral-400: hsl(221 25% 58%);
	--cl-neutral-800: hsl(220 50% 17%);

	/* // Accent */
	--cl-accent-300: hsl(22 100% 69%);
	--cl-accent-500: hsl(22 89% 52%);

	/* LAYOUT */
	box-sizing: border-box;

	--content-width: 20.4375rem;
	--content-padding: 1.5rem;
	--layout-columns: 
			minmax(0, 1fr) 
			var(--content-padding)
			minmax(min-content, max(var(--content-width)))
			var(--content-padding)
			minmax(0, 1fr);
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
	font-style: italic;
}

picture {
	display: block;
	overflow: hidden;
	border-radius: 1.125rem;
}

.body {
	font-family: var(--ff-main);
	font-size: var(--fs-300);
	color: var(--cl-neutral-400);
	background: var(--cl-neutral-100);
	display: grid;
	align-content: center;
	margin: 0;
	/* min-height: 100svh; */
	scrollbar-gutter: stable;
}

.cta {
	font: var(--ty-label);
	text-decoration: none;
	text-transform: uppercase;
	color: var(--cl-neutral-800);
	display: block;
	max-width: fit-content;
	padding: .91rem .889rem;
	border-radius: .5rem;
	background: var(--cl-neutral-200);

	&.cta--accent {
		color: var(--cl-neutral-100);
		background: var(--cl-accent-500);

		&:focus,
		&:hover {
			background: var(--cl-accent-300);
		}
	}

	&:focus,
	&:hover {
		color: var(--cl-neutral-100);
		background: var(--cl-neutral-800);
	}
}

.typemaster-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	max-width: var(--content-width);
	margin-inline: auto;
	margin-top: 1.5rem;
}
		
.typemaster-hero {
	display: grid;
	grid-template-columns: var(--layout-columns);
	grid-template-rows: auto 2rem auto 2rem auto 4rem auto;

	& > * {
		grid-column: 3;
	}
}

.typemaster-hero__heading {
	font: var(--ty-heading-primary);
	color: var(--cl-neutral-800);
	text-transform: uppercase;
	margin-block: 4rem 0;
}

.typemaster-hero__copy {
	font: var(--ty-copy);
	color: var(--cl-neutral-400);
	margin: 0;
	grid-row: 3;
}

.typemaster-hero__cta-n-release {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0;
	grid-row: 5;
}

.typemaster-hero__picture {
	grid-column: 3 / -1;
	grid-row: 7;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;

	img {
		height: 100%;
	}
}

.typemaster-hero__release {
	font: var(--ty-label);
	text-transform: uppercase;
}

.typemaster-description {
	display: grid;
	grid-template-columns: var(--layout-columns);
	grid-template-rows: auto 4.75rem auto 1.5rem auto;
	margin-top: 1.5rem;

	& > * {
		grid-column: 3;
	}
}

.typemaster-description__images {
	display: flex;
	gap: 1.5rem;
	grid-column: 1 / 4;
}

.typemaster-description__heading {
	font: var(--ty-heading-secondary);
	color: var(--cl-neutral-800);
	text-align: center;
	text-transform: uppercase;
	width: min-content;
	margin: 0 auto;
	grid-row: 3;
	}
	
.typemaster-description__copy {
	font: var(--ty-copy);
	color: var(--cl-neutral-400);
	text-align: center;
	grid-row: 5;
	margin: 0;
}

.typemaster-description__firts-image {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	background: var(--cl-accent-500);

	img {
		mix-blend-mode: multiply;
		opacity: .7486;
	}
}

.typemaster-features {
	display: grid;
	gap: 4rem;
	text-align: center;
	width: 100%;
	max-width: var(--content-width);
	margin: 7rem auto 0;
}

.typemaster-features__image {
	width: 4rem;
	aspect-ratio: 1;
	align-content: center;
	background: var(--cl-accent-500);
	border-radius: 1rem;
	margin: auto;
}

.typemaster-features__heading {
	font: var(--ty-heading-tertiary);
	color: var(--cl-neutral-800);
	text-transform: uppercase;
	margin: 3rem auto 0;
}

.typemaster-features__copy {
	font: var(--ty-copy);
	margin: 1.5rem auto 0;
}

.typemaster-footer {
	text-align: center;
	margin: 6rem auto 3rem;

	p {
		margin: 0;
	}

	span {
		margin-inline: .33ch;
	}
}